# Enable cross domain access control
SetEnvIf Origin "^http(s)?://(.+\.)?(localhost\:4200)$" REQUEST_ORIGIN=$0
Header always set Access-Control-Allow-Origin %{REQUEST_ORIGIN}e env=REQUEST_ORIGIN
Header always set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header always set Access-Control-Allow-Credentials true
Header always set Access-Control-Allow-Headers "authorization, content-type, accept, origin,pragma,cache-control,expires"


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule api/v1/users/(.*)$ backend/api/users/v1/users.php [QSA,NC,L]
RewriteRule api/v1/confirm/(.*)$ backend/api/confirm/v1/confirm.php [QSA,NC,L]
RewriteRule api/v1/partners/(.*)$ backend/api/partners/v1/partners.php [QSA,NC,L]
RewriteRule api/v1/products/(.*)$ backend/api/products/v1/products.php [QSA,NC,L]
RewriteRule api/v1/deals/(.*)$ backend/api/deals/v1/deals.php [QSA,NC,L]
RewriteRule api/v1/anag_forwarders/(.*)$ backend/api/anag_forwarders/v1/anag_forwarders.php [QSA,NC,L]
RewriteRule api/v1/anag_categories/(.*)$ backend/api/anag_categories/v1/anag_categories.php [QSA,NC,L]
RewriteRule api/v1/anag_subcategories/(.*)$ backend/api/anag_subcategories/v1/anag_subcategories.php [QSA,NC,L]
RewriteRule api/v1/anag_variants/(.*)$ backend/api/anag_variants/v1/anag_variants.php [QSA,NC,L]
RewriteRule oauth2/token/(.*)$ backend/authorization/BD_TOKEN.php [QSA,NC,L]
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule .* / [R=200,L]
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
