.custom-overflow {
    overflow: hidden !important;
}

@media (max-width: 600px) {
    .margin-container {
        background-color: white !important;
    }
}


.margin-container {
    background-color: white !important;
    margin: "3%" !important;
}