.custom-overflow {
    overflow: hidden !important;
}


@media (max-width: 600px) {
    .margin-container {
        background-color: white !important;
        margin: 0% !important;
    }
}


.margin-container {
    background-color: white !important;
    margin: 3%;
}

::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
}

// rather than center the checkbox, put the checkbox in the first line
::ng-deep .mat-checkbox-inner-container {
    margin-top: 3px !important;
}


.thumb {
    width: 30%;
    height: 30%;
    object-fit: cover;
    overflow: hidden;
}