.mat-drawer-content {
  overflow: hidden !important;
}

@media (max-width: 600px) {
  .margin-container {
    background-color: white !important;
    margin: 0% !important;
  }
}


.margin-container {
  background-color: white !important;
  margin: 3%;
}