<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" style="margin : 0 auto !important">
    <h2 class="text-muted text-center">Account details</h2>
    <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)">
      <mat-form-field class="w-100 mt-1">
        <input matInput placeholder="Password" formControlName="currentPassword" type="password" minlength="6" required>
        <mat-error *ngIf="infoForm.controls.currentPassword.errors?.required">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="infoForm.controls.currentPassword.hasError('mismatchedPasswords')">La password non coincide
          con quella attuale</mat-error>
        <mat-error *ngIf="infoForm.controls.currentPassword.hasError('minlength')">La Password deve essere
          almeno
          di 6
          caratteri</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mt-1">
        <input matInput placeholder="Nuova password" formControlName="newPassword" type="password" minlength="6"
          required>
        <mat-error *ngIf="infoForm.controls.newPassword.errors?.required">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="infoForm.controls.newPassword.hasError('minlength')">La Password deve essere almeno
          di 6
          caratteri</mat-error>
        <mat-error *ngIf="infoForm.controls.newPassword.hasError('noNewPassword')">La password deve essere diversa
          da quella attuale</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mt-1">
        <input matInput placeholder="Conferma nuova password" formControlName="confirmNewPassword" type="password"
          required>
        <mat-error *ngIf="infoForm.controls.confirmNewPassword.errors?.required">Campo Obbligatorio</mat-error>
        <mat-error *ngIf="infoForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Le password non
          corrispondono</mat-error>
      </mat-form-field>
      <div class="text-center mt-2">
        <button mat-raised-button color="primary" type="submit">Aggiorna</button>
      </div>
    </form>
  </div>
</div>