<mat-card>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2-header" style="background: black">
      <div class="text-center">
        <img src="../../../assets/images/logos/logo-small.webp">
      </div>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
      <div class="text-muted text-center">
        <h1>Conferma il tuo indirizzo!</h1>
      </div>
      <div class="text-muted text-center w-100 mt-3">
        <h4>Ti abbiamo inviato una mail contenente il link per l'attivazione! Premi sul bottone presente nella mail
          oppure incolla il link nella barra degli indirizzi per iniziare a godere delle fantastiche offerte di
          Buondeal!</h4>
      </div>
    </div>
  </div>
</mat-card>