<mat-card *ngIf=!hideComponents>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2-header" style="background: black">
      <div class="text-center">
        <img src="../../../assets/images/logos/logo-small.webp">
      </div>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
      <div class="text-muted text-center">
        <h1>Registrazione avvenuta con successo!</h1>
      </div>
      <div class="text-muted text-center w-100 mt-3">
        <h4>Ti abbiamo inviato una mail contenente il link per l'attivazione! Una volta confermata la mail, potrai
          entrare nel fantastico mondo di Buondeal!</h4>
      </div>
    </div>
  </div>
</mat-card>

<mat-card *ngIf=!hideConfirmationSuccesful>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2-header" style="background: black">
      <div class="text-center">
        <img src="../../../assets/images/logos/logo-small.webp">
      </div>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
      <div class="text-muted text-center">
        <h1>Email Confermata con successo!</h1>
      </div>
      <div class="text-muted text-center w-100 mt-3">
        <h4>Ora potrai goderti le fantastiche offerte del mondo di Buondeal!</h4>
      </div>
    </div>
  </div>
</mat-card>