@media (max-width: 600px) {
    .margin-container {
        background-color: white !important;
        margin: 0% !important;
    }

    .p-3 {
        padding: 0rem !important;
    }
}


.margin-container {
    background-color: white !important;
    margin: 3%;
}