<mat-card>

  <mat-sidenav-container class="margin-container">
    <mat-sidenav-content class="account-content" ngClass.gt-sm="p-left">
      <div fxLayout="row" fxLayoutAlign="space-between " class="p-3 header-row text-muted" *ngIf="hideFABbackButton()">
        <button mat-fab (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div *ngIf="hideFABbackButton()">
          <h1 class="p-3 header-row text-muted"> {{operation_title}}</h1>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 header-row text-muted"
        *ngIf="!hideComponents()">
        <h1> La mia vetrina </h1>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="header-row text-muted " *ngIf="!hideComponents()">
        <mat-divider></mat-divider>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-3 header-row text-muted"
        *ngIf="!hideComponents()">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Cosa puoi fare</h4>
          </div>
          <div class="card-body">
            <mat-nav-list>
              <mat-list-item *ngFor="let link of links">
                <a matLine (click)="goTo(link.href)" style="display: inline-flex;">
                  <mat-icon class="p-3 header-row text-muted">{{link.icon}}</mat-icon>
                  <span class="ml-3 p-3 header-row text-muted">{{ link.name }}</span>
                </a>
                <!-- <h4 matline> {{ link.info }} </h4> -->
              </mat-list-item>
            </mat-nav-list>
          </div>
        </div>
      </div>

      <div *ngIf="!smallScreen">

        <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 header-row text-muted mt-3"
          *ngIf="!hideComponents()">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">I miei oggetti in vendita</h4>
            </div>
            <div class="card-body">
              <mat-form-field *ngIf="dataSource" appearance="outline" style="float:right;">
                <mat-label>Filtra i risultati</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)">
              </mat-form-field>


              <div class="p-3 header-row text-muted mt-3 table-responsive-md" *ngIf="!hideComponents()">
                <table mat-table [dataSource]="dataSource" class="w-100 table-custom-responsive" *ngIf="dataSource">

                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Titolo</th>
                    <td mat-cell *matCellDef="let element" class="td-custom-responsive">
                      {{element.title}} </td>
                  </ng-container>

                  <ng-container matColumnDef="categories">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Categorie </th>
                    <td mat-cell *matCellDef="let element" class="td-custom-responsive">
                      {{element.categories}} </td>
                  </ng-container>

                  <ng-container matColumnDef="start_sold_date">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Messo in vendita il </th>
                    <td mat-cell *matCellDef="let element" class="td-custom-responsive">
                      {{element.start_sold_date | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Azioni </th>

                    <td mat-cell *matCellDef="let element" class="td-custom-responsive">
                      <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #appMenu>
                        <button mat-menu-item (click)="viewProduct(element)">Visualizza</button>
                        <button mat-menu-item (click)="editProduct(element)">Modifica</button>
                        <button mat-menu-item (click)="deleteProduct(element)">Elimina</button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="!dataSource && !emptySoldObject" style="display: flex;margin: 0 auto !important">
                  <mat-progress-spinner color="accent" mode="indeterminate" strokeWidth="3" [diameter]="50">
                  </mat-progress-spinner>
                </div>

                <div *ngIf="!dataSource && emptySoldObject" style="display: flex;margin: 0 auto !important">
                  Nessun oggetto in vendita.
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 header-row text-muted"
                style="float: right" *ngIf="!hideComponents()" style="margin: 0 auto;">
                <mat-paginator #soldPaginator [length]="selledObjects" [pageSize]="5" [hidePageSize]="true">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="smallScreen">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 header-row text-muted"
          *ngIf="!hideComponents()">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">I miei oggetti in vendita </h4>
            </div>
            <div class="card-body">
              <div *ngIf="!products && !emptySoldObject"
                style="display: flex;margin: 0 auto !important;justify-content:center">
                <mat-progress-spinner color="accent" mode="indeterminate" strokeWidth="3" [diameter]="50">
                </mat-progress-spinner>
              </div>

              <div *ngIf="!products && emptySoldObject" style="display: flex;margin: 0 auto !important">
                Nessun oggetto in vendita
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 w-100 header-row text-muted"
                *ngIf="!hideComponents()">
                <mat-form-field *ngIf="dataSource" appearance="outline" class="w-100">
                  <mat-label>Filtra i risultati</mat-label>
                  <input matInput (keyup)="applyFilterMobile($event.target.value)">
                </mat-form-field>
              </div>

              <div *ngIf="products" class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper h-100">
                  <div *ngFor="let product of products" class="swiper-slide">
                    <div (click)="viewProduct(product)">
                      <div fxLayout="row" fxLayoutAlign="space-between center "
                        style="margin:0 auto;justify-content: center;" class="img-zoom-container">
                        <img [attr.data-src]="product.variants[0]?.images[0]?.image_path" class="swiper-lazy thumb" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="space-between center " style="margin:0 auto;">
                        <span class="mt-3 mb-3 text-muted">
                          <h3>{{product.title}}</h3>
                        </span>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="mt-1 text-muted">
                          Categorie : {{product.categories}}
                        </span>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="mt-1 text-muted">
                          Messo in vendita il : {{product.start_sold_date}}
                        </span>
                      </div>
                      <div class="divider mt-2"></div>
                      <div class="icons">
                        <div fxLayout="row" fxLayout.xs="row" style="justify-content: center;" class="text-muted">
                          <button mat-icon-button color="accent" (click)="editProduct(product)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" (click)="deleteProduct(product)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!smallScreen">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 header-row text-muted"
          *ngIf="!hideComponents()">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">I miei deals </h4>
            </div>
            <div class="card-body">
              <mat-form-field *ngIf="dealsDataSource" appearance="outline" style="float:right;" style="float:right;">
                <mat-label>Filtra i risultati</mat-label>
                <input matInput (keyup)="applyFilterDeals($event.target.value)">
              </mat-form-field>

              <div class="p-3 header-row text-muted mt-3 table-responsive-md" *ngIf="!hideComponents()">
                <table mat-table [dataSource]="dealsDataSource" class="w-100 table-custom-responsive"
                  *ngIf="dealsDataSource">

                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Titolo</th>
                    <td mat-cell *matCellDef="let element" class="td-custom-responsive"> {{element.title}} </td>
                  </ng-container>

                  <ng-container matColumnDef="categories">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Categorie </th>
                    <td mat-cell *matCellDef="let element" class="td-custom-responsive"> {{element.categories}} </td>
                  </ng-container>

                  <ng-container matColumnDef="start_sold_date">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Messo in vendita il </th>
                    <td mat-cell *matCellDef="let element" class="td-custom-responsive">
                      {{element.start_sold_date | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="th-custom-responsive"> Azioni </th>

                    <td mat-cell *matCellDef="let element" class="td-custom-responsive">
                      <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #appMenu>
                        <button mat-menu-item (click)="viewProduct(element)">Visualizza</button>
                        <button mat-menu-item (click)="editProduct(element)">Modifica</button>
                        <button mat-menu-item (click)="deleteProduct(element)">Elimina</button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="!dealsDataSource && !emptyDealsObject" style="display: flex;margin: 0 auto !important">
                  <mat-progress-spinner color="accent" mode="indeterminate" strokeWidth="3" [diameter]="50">
                  </mat-progress-spinner>
                </div>

                <div *ngIf="!dealsDataSource && emptyDealsObject" style="display: flex;margin: 0 auto !important">
                  Nessun Deal in vendita.
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 header-row text-muted"
                style="float: right" *ngIf="!hideComponents()" style="margin: 0 auto;">
                <mat-paginator #dealsPaginator [length]="dealsObjects" [pageSize]="5" [hidePageSize]="true">
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="smallScreen">


        <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 header-row text-muted"
          *ngIf="!hideComponents()">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">I miei deals </h4>
            </div>
            <div class="card-body">
              <div *ngIf="!deals && !emptyDealsObject"
                style="display: flex;margin: 0 auto !important;justify-content:center">
                <mat-progress-spinner color="accent" mode="indeterminate" strokeWidth="3" [diameter]="50">
                </mat-progress-spinner>
              </div>

              <div *ngIf="!deals && emptyDealsObject" style="display: flex;margin: 0 auto !important">
                Nessun Deal in vendita.
              </div>

              <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3 w-100 header-row text-muted"
                *ngIf="!hideComponents()">
                <mat-form-field *ngIf="deals" appearance="outline" class="w-100">
                  <mat-label>Filtra i risultati</mat-label>
                  <input matInput (keyup)="applyFilterDealsMobile($event.target.value)">
                </mat-form-field>
              </div>


              <div *ngIf="deals" class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper h-100">
                  <div *ngFor="let deal of deals" class="swiper-slide">
                    <div (click)="viewDeal(deal)">
                      <div fxLayout="row" fxLayoutAlign="space-between center "
                        style="margin:0 auto;justify-content: center;" class="img-zoom-container">
                        <img [attr.data-src]="deal.variants[0]?.images[0]?.image_path" class="swiper-lazy thumb" />
                        <div class="swiper-lazy-preloader"></div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center " style="margin:0 auto;">
                        <span class="mt-3 mb-3 text-muted">
                          <h3>{{deal.title}}</h3>
                        </span>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="mt-1 text-muted">
                          Categorie : {{deal.categories}}
                        </span>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="mt-1 text-muted">
                          Messo in vendita il : {{deal.start_sold_date}}
                        </span>
                      </div>
                      <div class="divider mt-2"></div>
                      <div class="icons">
                        <div fxLayout="row" fxLayout.xs="row" style="justify-content: center;" class="text-muted">
                          <button mat-icon-button color="accent" (click)="editDeal(deal)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" (click)="deleteDeal(deal)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" mt-3" *ngIf="hideComponents()">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</mat-card>