@media (max-width: 600px) {
    .margin-container {
        background-color: white !important;
        margin: 0% !important;
    }

    .p-3 {
        padding: 0rem !important;
    }
}


.margin-container {
    background-color: white !important;
    margin: 3%;
}


.img-zoom-container {
    width: 250px; height: 150px
  }
  
  .thumb{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
  }