<div class="product-detail-page section-gap bg-white">
    <div class="container">
        <div *ngIf="!deal" style="display: flex;margin-left: 50%;">
            <mat-progress-spinner color="accent" mode="indeterminate" strokeWidth="3" [diameter]="50">
            </mat-progress-spinner>
        </div>
        <div fxLayout='row wrap' fxLayoutAlign="center center" class="col-gap" *ngIf="deal">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=90 fxFlex.lg="80" fxFlex.xl="90">
                <div fxLayout='row wrap' class="col-gap position-relative">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
                        <div fxLayout='row wrap'>
                            <div fxFlex.xs="15" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
                                <div class="product-detail-image-gallery pr-4" *ngIf="deal?.images">
                                    <mat-grid-list cols="1" rowHeight="1:1" gutterSize="20px">
                                        <mat-grid-tile *ngFor="let img of deal?.images; let i=index">
                                            <div class="product-image-gallery-item">
                                                <a id="{{i}}_img" class="p-link"
                                                    [ngClass]="{ 'border-active': i === 0 }" href="javascript:void(0)"
                                                    (mouseenter)="getImagePath(img, i)">
                                                    <img class="thumb" [src]="img.image_path" alt="">
                                                </a>
                                            </div>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                </div>
                            </div>
                            <div fxFlex.xs="85" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85"
                                class="relative" *ngIf="image">
                                <embryo-deals-ImgZoom [imgSrc]="image" imgStyle="width:auto; height:auto;"
                                    resultStyle="background-repeat: no-repeat; z-index: 2; position:absolute;
                                     -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;" lensStyle="width:100px; height:100px" containerStyle="">
                                </embryo-deals-ImgZoom>
                            </div>
                            <div *ngIf="!deal?.images" fxFlex.xs="85" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85"
                                fxFlex.xl="85" class="text-muted w-100 mt-3">
                                Seleziona una variante per il prodotto
                            </div>
                        </div>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
                        <div class="product-detail-content">
                            <!-- <a href="javascript:void(0)" [routerLink]="['/']">Back to Shop</a> -->
                            <h3>{{deal?.title}}</h3>
                            <!-- <div fxLayoutAlign="start center" class="mb-3">
                                <div>
                                    <a href="javascript:void(0)" class="text-underline"
                                        (click)="reviewPopup(product)">ADD A REVIEW</a>
                                </div>
                            </div> -->
                            <div class="product-detail-price mt-2" *ngIf="variant">
                                Prezzo : <h4 class="accent-color" style="text-decoration: line-through;">
                                    €{{variant?.price}} </h4>
                            </div>

                            <div class="product-detail-price mt-2" *ngIf="variant">
                                Prezzo Scontato : <h4 class="accent-color">€{{variant?.discount_price}} </h4>
                            </div>

                            <ul class="no-style mb-4">
                                <li>
                                    <span class="font-medium"> Disponibilitá </span>:
                                    <span *ngIf="variant?.quantity > 0">Disponibile</span>
                                    <span *ngIf="variant?.quantity === 0">Non disponibile</span>
                                </li>

                            </ul>
                            <div class="divider mt-2"></div>
                            <div class="short-des mt-2">
                                <p [innerHTML]="deal?.description ">
                                </p>
                            </div>
                            <div class="divider mt-2"></div>
                            <div fxLayoutGap="30px" class="mb-3 select-group mt-2">
                                <mat-form-field class="mt-2" appearance="outline">
                                    <mat-label>Seleziona</mat-label>
                                    <mat-select (selectionChange)=selectedVariant($event.value)>
                                        <mat-option *ngFor="let variant of arrayOfMapVariants" [value]="variant.id">
                                            {{ variant.description }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="mb-4">
                                    <a href="javascript:void(0)" class="text-underline" (click)="addToWishlist(deal)">
                                        Add To Wishlist</a>
                                </div>
                                <div class="mb-5 detail-btns" *ngIf="variant?.redirectUrl == ''">
                                    <button mat-raised-button color="accent" class="button-lg mr-3"
                                        (click)="addToCart(deal)" [disabled]="disableButtons">Aggiungi al
                                        carrello</button>
                                    <button class="button-lg" mat-raised-button (click)="buyNow(deal)"
                                        [disabled]="disableButtons">Compra
                                        ora</button>
                                </div>

                                <div class="mb-5 detail-btns count_down" *ngIf="variant">
                                    <mat-card>
                                        <mat-card-title>
                                            <h3 class="text-white">Questo Deal scade fra :</h3>
                                        </mat-card-title>
                                        <mat-card-content style="display: flex;">
                                            <div class="style-counter">
                                                {{_counterService.d}}
                                                <div>
                                                    <p>Giorni</p>
                                                </div>
                                            </div>
                                            <div class="style-counter">
                                                {{_counterService.h}}
                                                <div>
                                                    <p>Ore</p>
                                                </div>
                                            </div>
                                            <div class="style-counter">
                                                {{_counterService.m}}
                                                <div>
                                                    <p>Minuti</p>
                                                </div>
                                            </div>
                                            <div class="style-counter">
                                                {{_counterService.s}}
                                                <div>
                                                    <p>Secondi</p>
                                                </div>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>

                                <div class="mb-5 detail-btns" *ngIf="variant?.redirectUrl != ''">
                                    <button mat-raised-button color="accent" class="button-lg mr-3"
                                        (click)="goToUrl(variant.redirectUrl)" [disabled]="disableButtons">Vai
                                        all'acquisto</button>
                                </div>
                                <div fxLayoutAlign="start center">
                                    <div class="mr-3"> <span>Share Now</span></div>
                                    <div class="detail-product-share">
                                        <!-- <embryo-SocialShare></embryo-SocialShare> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="py-2 mt-2">
        <h2>Related Products</h2>
        <div class="divider"></div>
        <app-products-carousel [products]="relatedDeals"></app-products-carousel>
    </div>