<mat-sidenav-container style="background-color: white">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Generale </h4>
        </div>
        <div class="card-body">
            <app-general-coupon [formGroup]="generalFormGroup" (loadVariants)=loadVariants()></app-general-coupon>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Varianti </h4>
        </div>
        <div class="card-body">
            <app-variants-coupon [formGroup]="generalFormGroup" [anagVariants]="anagVariants"></app-variants-coupon>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header card-header-primary">
            <h4 class="card-title">SEO </h4>
        </div>
        <div class="card-body">
            <app-seo-definer-deals [formGroup]="generalFormGroup"></app-seo-definer-deals>
        </div>
    </div>

    <div *ngIf="!smallScreen">
        <button mat-raised-button (click)="saveObject()" color="accent"
            style="float: right;margin-right: 3%; margin-top: 1%;margin-bottom: 1%">Vendi!</button>
    </div>

    <div *ngIf="smallScreen">
        <button mat-raised-button (click)="saveObject()" color="accent" class="w-100">Vendi!</button>
    </div>

</mat-sidenav-container>




<!-- <mat-sidenav-container style="background-color: white">
    <mat-horizontal-stepper color="accent" [linear]="false" #stepper (selectionChange)="selectionChange($event)">
        <mat-step>
            <ng-template matStepLabel><span [ngStyle]="{'color': isGeneralValid() ? '#248eb9' : 'red'}">Generale</span>
            </ng-template>
            <app-general-coupon [formGroup]="generalFormGroup"></app-general-coupon>
            <div>
                <button mat-fab matStepperNext (click)="loadVariants(1)"
                    style="float: right;margin-right: 3%; margin-top: 1%;margin-bottom: 1%">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel><span [ngStyle]="{'color': isVariantsValid() ? '#248eb9' : 'red'}">Varianti</span>
            </ng-template>
            <app-variants-coupon [formGroup]="generalFormGroup" [anagVariants]="anagVariants"></app-variants-coupon>
            <div>
                <button mat-fab matStepperPrev style="float: left;margin-right: 3%; margin-top: 1%;margin-bottom: 1%">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div>
                <button mat-fab matStepperNext style="float: right;margin-right: 3%; margin-top: 1%;margin-bottom: 1%">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel> <span>SEO</span>
            </ng-template>
            <app-seo-definer-deals [formGroup]="generalFormGroup"></app-seo-definer-deals>
            <div>
                <button mat-fab matStepperPrev style="float: left;margin-right: 3%; margin-top: 1%;margin-bottom: 1%">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div>
                <button mat-raised-button (click)="saveObject()" color="accent"
                    style="float: right;margin-right: 3%; margin-top: 1%;margin-bottom: 1%">Vendi!</button>
            </div>
        </mat-step>


    </mat-horizontal-stepper>

</mat-sidenav-container> -->